<section class="container advantage-box">
    
        <div class="advantages-container">
            <h2 class="advantages-hidden">Advantages</h2>
            <ol class="advantages-list">
                <li class="advantages-items">
                    <h3 class="advantages-number">01</h3>
                    <p class="advantages-description">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="advantages-items">
                    <h3 class="advantages-number">02</h3>
                    <p class="advantages-description">Fishing: try to catch your own dinner</p>
                </li>
                <li class="advantages-items">
                    <h3 class="advantages-number">03</h3>
                    <p class="advantages-description">Sightseeing tours: take a shore or island tour, enjoy the views
                        and sunsets from the water</p>
                </li>
                <li class="advantages-items">
                    <h3 class="advantages-number">04</h3>
                    <p class="advantages-description">Rest and relaxation: read a book or listen to music while enjoying
                        the outdoor atmosphere.</p>
                </li>
            </ol>
        </div>
        <div class="img-container-advant">
            <picture>
                <source
                    srcset="/img/img-advantages/Photo-desctop-1440.jpg 1x, /img/img-advantages/Photo-desctop-1440@2x.jpg 2x"
                    media='(min-width: 1440px)'>
                <source
                    srcset="/img/img-advantages/Photo-desctop-1280.jpg 1x, /img/img-advantages/Photo-desctop-1280@2x.jpg 2x"
                    media='(min-width: 1280px)'>
                <source srcset="/img/img-advantages/Photo-tab.jpg 1x, /img/img-advantages/Photo-tab@2x.jpg 2x"
                    media='(min-width: 768px)'>
                <source srcset="/img/img-advantages/advantage-mob.jpg 1x, /img/img-advantages/advantage-mob@2x.jpg 2x"
                    media='(max-width: 767px)'>
                <img class="advantages-photo" src="/img/img-advantages/advantage-mob.jpg" alt="view inside" />
            </picture>
        </div>
    
</section>