<header>
  <div class="container header-container">
    <a href="./index.html" class="header-logo">yachtjet</a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#section-about" class="nav-list-link">About</a>
        </li>
        <li class="nav-list-item">
          <a href="#section-yachts" class="nav-list-link">Yachts</a>
        </li>
        <li class="nav-list-item">
          <a href="#section-reviews" class="nav-list-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="s-m-list">
      <li class="s-m-list-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="s-m-list-link"
          target="_blank"
        >
          <svg class="s-m-icon-header" width="20" height="20">
            <use href="/img/header-img/header-img.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="s-m-list-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="s-m-list-link"
          target="_blank"
        >
          <svg class="s-m-icon-header" width="20" height="20">
            <use href="/img/header-img/header-img.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="s-m-list-item">
        <a
          href=" https://www.facebook.com/goITclub/"
          class="s-m-list-link"
          target="_blank"
        >
          <svg class="s-m-icon-header" width="20" height="20">
            <use href="/img/header-img/header-img.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="header-menu-btn" data-burger-open>
      <svg
        class="header-btn"
        width="24"
        height="10"
        viewBox="0 0 24 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.5 8.5H22.5M1.5 1.5H22.5"
          stroke="#1B414B"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</header>
