<div class="mobile-menu" data-burger>
    <div class="container mobile-menu-container">
        <div class="mobile-header">
            <a class="mobile-menu-logo" href="">yachtjet</a>
            <button class="mobile-menu-close" type="button" data-burger-close>
                <svg class="close-icon" width="24" height="24">
                    <use href="/img/modal-header-img/menu-icon.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        <nav class="mobile-menu-nav">
            <ul class="mobile-menu-list">
                <li class="mobile-menu-item"><a class="mobile-menu-link" href="#section-about">About</a></li>
                <li class="mobile-menu-item"><a class="mobile-menu-link" href="#section-yachts">Yachts</a></li>
                <li class="mobile-menu-item"><a class="mobile-menu-link" href="#section-reviews">Reviews</a></li>
            </ul>
        </nav>
        <ul class="menu-social">
            <li class="card-icons">
                <a href="https://www.instagram.com/goitclub/" class="menu-social-link" target="_blank">
                    <svg class="menu-social-icons" width="24" height="24">
                        <use href="/img/modal-header-img/menu-icon.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="card-icons">
                <a href="https://www.youtube.com/c/GoIT" class="menu-social-link" target="_blank">
                    <svg class="menu-social-icons" width="24" height="24">
                        <use href="/img/modal-header-img/menu-icon.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
            <li class="card-icons">
                <a href="https://www.facebook.com/goITclub/" class="menu-social-link" target="_blank">
                    <svg class="menu-social-icons" width="24" height="24">
                        <use href="/img/modal-header-img/menu-icon.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

</div>