<section id="section-yachts" class="section-our-yachts">
  <div class="container our-ttt">
    <h2 class="title-our-yachts">
      Choose your dream yacht and sail away into the sunset
    </h2>

    <ul class="wrap-our-yachts">
      <li class="wrap-thumb arrow">
        <div class="thumb-img">
          <picture>
            <source srcset="
                /img/our-yachts.img/arrow-yaht@2x.jpg 1x,
                /img/our-yachts.img/arrow-yaht@2x.jpg 2x
              " media="(max-width: 767px)" />
            <source srcset="
                /img/our-yachts.img/arrow-yaht@2x.jpg 1x,
                /img/our-yachts.img/arrow-yaht@2x.jpg 2x
              " media="(max-width: 1279px)" />
            <source srcset="
                /img/our-yachts.img/arrow-yaht@2x.jpg 1x,
                /img/our-yachts.img/arrow-yaht@2x.jpg 2x
              " media="(min-width: 1440px)" />
            <img class="img-our-yachts" src="/img/our-yachts.img/arrow-yaht.jpg" alt="arrow-yaht" width="360" />
          </picture>
        </div>

        <div class="inner-row">
          <h3 class="title-yacht-models">Arrow</h3>
          <p class="text-luxury">LUXURY YAHTS</p>
        </div>

        <svg class="icon-our-yachts" width="272" height="2">
          <use href="/img/our-yachts.img/our-yachts-vecr (1).svg#icon-Vector-1"></use>
        </svg>

        <div class="box-prise">
          <ul class="list-price">
            <li class="items-price">LENGTH</li>
            <li class="items-price">BUILDER</li>
            <li class="items-price">BUILT</li>
            <li class="items-price">GUESTS</li>
            <li class="items-price">PRICE</li>
          </ul>

          <ul class="list-luxury">
            <li class="items-luxury">48m(155ft)</li>
            <li class="items-luxury">Admiral</li>
            <li class="items-luxury">2021</li>
            <li class="items-luxury">11 in 5 cabins</li>
            <li class="items-luxury">€33,500,000</li>
          </ul>
        </div>
      </li>
      <li class="wrap-thumb benetti">
        <div class="thumb-img">
          <picture>
            <source srcset="
                /img/our-yachts.img/benetti-yaht.jpg    1x,
                /img/our-yachts.img/benetti-yaht@2x.jpg 2x
              " media="(max-width: 767px)" />
            <source srcset="
                /img/our-yachts.img/benetti-yaht.jpg    1x,
                /img/our-yachts.img/benetti-yaht@2x.jpg 2x
              " media="(max-width: 1279px)" />
            <source srcset="
                /img/our-yachts.img/benetti-yaht.jpg    1x,
                /img/our-yachts.img/benetti-yaht@2x.jpg 2x
              " media="(min-width: 1440px)" />
            <img class="img-our-yachts" src="/img/our-yachts.img/benetti-yaht.jpg" alt="benetti-yaht" width="360"
              height="268" />
          </picture>
        </div>

        <div class="inner-row current">
          <h3 class="title-yacht-models">
            BENETTI OASIS 40<span class="title-models-b">...</span><span class="title-models">M B...</span>
          </h3>
          <p class="text-luxury">LUXURY YAHTS</p>
        </div>

        <svg class="icon-our-yachts" width="272" height="2">
          <use href="/img/our-yachts.img/our-yachts-vecr (1).svg#icon-Vector-1"></use>
        </svg>

        <div class="box-prise">
          <ul class="list-price">
            <li class="items-price">LENGTH</li>
            <li class="items-price">BUILDER</li>
            <li class="items-price">BUILT</li>
            <li class="items-price">GUESTS</li>
            <li class="items-price">PRICE</li>
          </ul>

          <ul class="list-luxury">
            <li class="items-luxury">41m (133ft)</li>
            <li class="items-luxury">Benetti</li>
            <li class="items-luxury">2025</li>
            <li class="items-luxury">10 in 5 cabins</li>
            <li class="items-luxury">€23,210,000</li>
          </ul>
        </div>
      </li>
      <li class="wrap-thumb belle">
        <div class="thumb-img">
          <picture>
            <source srcset="
                /img/our-yachts.img/belle-yaht.jpg    1x,
                /img/our-yachts.img/belle-yaht@2x.jpg 2x
              " media="(max-width: 767px)" />

            <source srcset="
                /img/our-yachts.img/belle-yaht.jpg    1x,
                /img/our-yachts.img/belle-yaht@2x.jpg 2x
              " media="(max-width: 1279px)" />
            <source srcset="
                /img/our-yachts.img/belle-yaht.jpg    1x,
                /img/our-yachts.img/belle-yaht@2x.jpg 2x
              " media="(min-width: 1440px)" />
            <img class="img-our-yachts" src="/img/our-yachts.img/belle-yaht.jpg" alt="belle-yaht" width="360"
              height="268" />
          </picture>
        </div>

        <div class="inner-row current">
          <h3 class="title-yacht-models">BELLE ANNA</h3>
          <p class="text-luxury">LUXURY YAHTS</p>
        </div>
        <svg class="icon-our-yachts" width="272" height="2">
          <use href="/our-yachts-img/our-yachts-vecr (1).svg#icon-Vector-1"></use>
        </svg>

        <div class="box-prise">
          <ul class="list-price">
            <li class="items-price">LENGTH</li>
            <li class="items-price">BUILDER</li>
            <li class="items-price">BUILT</li>
            <li class="items-price">GUESTS</li>
            <li class="items-price">PRICE</li>
          </ul>

          <ul class="list-luxury">
            <li class="items-luxury">50m(155ft)</li>
            <li class="items-luxury">ISA</li>
            <li class="items-luxury">2012</li>
            <li class="items-luxury">12 in 6 cabins</li>
            <li class="items-luxury">€21,000,000</li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="btn-id">
      <a class="main-btn our-btn" href="#rent-a-yacht">Yacht rental</a>
    </div>
  </div>
</section>