<section class="rent">
  <div class="container rent-y">
    <div class="rent-modal">
      <h2 class="rent-title" id="rent-a-yacht">Rent a yacht now</h2>
      <form class="modal-form">
        <div class="modal-field">
          <div class="modal-field-wrap">
            <input type="text" class="modal-input" name="user-name" placeholder="Full Name" required />
          </div>
          <div class="modal-field-wrap">
            <input type="email" class="modal-input" name="user-email" placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required />
          </div>

          <div class="modal-field-wrap">
            <input type="tel" class="modal-input" name="user-tel" placeholder="Phone number"
              pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$" title="+38-067-111-11-11" required />
          </div>

          <div class="modal-field-comment">
            <textarea class="modal-comment" name="user-comment" placeholder="Comment"></textarea>
          </div>
        </div>

        <button class="modal-btn main-btn" type="submit">Send</button>
      </form>
    </div>

    <div class="rent-image">
      <picture>
        <source srcset="/img/rent-img/rent-dt.jpg 1x, /img/rent-img/rent-dt-2x.jpg 2x" media="(min-width:1440px)" />

        <source srcset="
            /img/rent-img/rent-dt-small.jpg    1x,
            /img/rent-img/rent-dt-small-2x.jpg 2x
          " media="(min-width:1280px)" />

        <source srcset="
            /img/rent-img/rent-tab.jpg    1x,
            /img/rent-img/rent-tab-2x.jpg 2x
          " media="(min-width:768px)" />
        <source srcset="
            /img/rent-img/rent-mob.jpg    1x,
            /img/rent-img/rent-mob-2x.jpg 2x
          " media="(max-width:767px)" />
        <img src="/image-rent/rent-dt.jpg" alt="Rent a yacht" width="360" class="rent-img" />
      </picture>
    </div>
  </div>
</section>