ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantages-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-number {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 28px;

    line-height: 100%;
    letter-spacing: -0.05em;
    color: #fbfbfb;
    position: relative;
    margin-bottom: 38px;
}

.advantages-number::after {
    content: "";
    position: absolute;
    /*width: 295px;*/
    width: 92%;
    left: 0;
    right: 0;
    bottom: -18px;
    height: 2px;
    border-radius: 18px;
    background: rgba(251, 251, 251, 0.1);

}

.advantages-description {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;

    line-height: 117%;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    opacity: 0.8;
    max-width: 292px;
    

}

.advantage-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.advantages-photo {
    border-radius: 24px;
    width: 335px;
    max-height: 424px;
}

.advantages-container {
    max-width: 335px;
    padding: 80px 20px;
    background-color: #1b414b;
    border-radius: 24px;
    margin-bottom: 18px;
}

.advantages-list>li:first-child p {
    max-width: 238px;

}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (min-width: 375px) {
    .advantages-number::after {
        width: 295px;
    }
}

@media screen and (min-width: 768px) {
    .advantage-box {
        padding-bottom: 150px;
    }

    .advantages-container {

        padding: 90px 32px;
        max-width: 704px;
        margin-bottom: 32px;
    }

    .advantages-number {
        font-size: 32px;
    }

    .advantages-number::after {
        width: 304px;
    }

    .advantages-description {
        font-size: 13px;
        line-height: 115%;

    }

    .advantages-description {
        font-size: 13px;
        line-height: 115%;

    }

    .advantages-items {
        width: 304px;

    }

    .advantages-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 44px;
        column-gap: 32px;
    }

    .advantages-photo {
        width: 704px;

    }

}

@media screen and (min-width: 1280px) {
    .advantage-box {
        /* padding: 0 50px; */
        flex-direction: row;
        gap: 32px;
    }

    .advantages-container {
        padding: 90px 50px;
        max-width: 716px;
        margin-bottom: 0;
    }

    .advantages-number::after {
        width: 280px;
    }

    .advantages-items {
        width: 292px;
    }

    .advantages-list>li:first-child {
        width: 280px;
        margin-right: 12px;
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 1440px) {
    .advantage-box {
        gap: 0;
        justify-content: space-between;
    }

    .advantages-container {
        max-width: 768px;
    }

    .advantages-items {
        width: 318px;
    }

    .advantages-number::after {
        width: 318px;
    }

    .advantages-list>li:first-child {
        width: 318px;
        margin-right: 0;
        margin-bottom: 0;
    }

    .advantages-list {

        row-gap: 44px;
        column-gap: 32px;
    }

    .advantages-photo {
        width: 540px;
    }
}