*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: #0e1823;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.main-btn {
    border: none;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    border-radius: 15px;
}

.main-btn:hover,
.main-btn:focus {
    color: #1B414B;
    background-color: #FBFBFB;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 375px) {
    .container {
        width: 375px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
        padding: 0 50px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;
    }
}