/*--------Hero------*/

.hero {
    max-width: 375px;
    margin: 0 auto;
    height: auto;
    background: linear-gradient(360deg, rgba(17, 19, 31, 0.8) 15.05%, rgba(17, 19, 31, 0.8) 75.3%, rgba(17, 19, 31, 0.8) 98.27%), url(/img/img-hero/bg-hero1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 260px;
    padding-bottom: 302px;
}

.container__hero {
    min-width: 320px;
    max-width: 375px;
}

.hero__title {
    font-size: 32px;
    line-height: 100%;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 24px;
}

.hero__subtitle {
    font-weight: 300;
    font-size: 12px;
    line-height: 117%;
    text-align: center;
    color: rgba(251, 251, 251, 0.7);
    margin-bottom: 38px;
}


.main-btn {
    background: #1b414b;
    margin: 0 auto;
    padding: 14px 32px;
    height: 46px;
    color: #fbfbfb;
    text-align: center;
    /* display: block; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.yachts-btn-oo {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 375px) {
    .hero {
        max-width: 100%;
    }

    .container__hero {
        max-width: 100%;
    }

    .hero__block {
        max-width: 335px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}

@media (min-resolution: 192dpi) {
    .hero {
        background: linear-gradient(360deg, rgba(17, 19, 31, 0.8) 15.05%, rgba(17, 19, 31, 0.8) 75.3%, rgba(17, 19, 31, 0.8) 98.27%), url(/img/img-hero/bg-hero@2x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (min-width: 768px) {

    .hero {
        max-width: 100%;
        background: linear-gradient(360deg, rgba(17, 19, 31, 0.8) 15.05%, rgba(17, 19, 31, 0.8) 75.3%, rgba(17, 19, 31, 0.8) 98.27%), url(/img/img-hero/tablet-bg-hero.jpg);
        padding-top: 280px;
        padding-bottom: 282px;
    }

    .hero__block {
        max-width: 704px;
    }

    .hero__title {
        width: 650px;
        font-size: 70px;
        align-items: center;
    }

    .hero__subtitle {
        width: 597px;
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 48px;
    }

    .main-btn {
        padding: 16px 40px;
        width: 179px;
        height: 52px;
    }

    @media (min-resolution: 192dpi) {
        .hero {
            background: linear-gradient(360deg, rgba(17, 19, 31, 0.8) 15.05%, rgba(17, 19, 31, 0.8) 75.3%, rgba(17, 19, 31, 0.8) 98.27%), url(/img/img-hero/tablet-bg-hero@2x.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}

@media (min-width: 1280px) {

    .hero {
        max-width: 100%;
        background: linear-gradient(360deg, rgba(17, 19, 31, 0.8) 15.05%, rgba(17, 19, 31, 0.8) 75.3%, rgba(17, 19, 31, 0.8) 98.27%), url(/img/img-hero/desktop-bg-hero1.jpg);
        padding-top: 235px;
        padding-bottom: 215px;
    }

    .hero__block {
        max-width: 910px;
    }

    .hero__title {
        font-size: 80px;
        width: 100%;
    }

    @media (min-resolution: 192dpi) {
        .hero {
            background: linear-gradient(360deg, rgba(17, 19, 31, 0.8) 15.05%, rgba(17, 19, 31, 0.8) 75.3%, rgba(17, 19, 31, 0.8) 98.27%), url(/img/img-hero/desktop-bg-hero1@2x.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}

@media (min-width: 1440px) {

    .hero {
        max-width: 100%;
        background: linear-gradient(360deg, rgba(17, 19, 31, 0.8) 15.05%, rgba(17, 19, 31, 0.8) 75.3%, rgba(17, 19, 31, 0.8) 98.27%), url(/img/img-hero/desktop-bg-hero1440.jpg);
        padding-top: 235px;
        padding-bottom: 215px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media (min-resolution: 192dpi) {
        .hero {
            background: linear-gradient(360deg, rgba(17, 19, 31, 0.8) 15.05%, rgba(17, 19, 31, 0.8) 75.3%, rgba(17, 19, 31, 0.8) 98.27%), url(/img/img-hero/desktop-bg-hero1440@2x.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}